In [14]:
import numpy as np
import pandas as pd

In [13]:
df_home = pd.read_csv("data/2022/china_2022.csv")
df_aboard = pd.read_csv("data/2022/global_2022.csv")
df_home.compare(df_aboard)

        name            issue_comment          open_issue         open_pull  \
        self      other          self    other       self   other      self
0    Alibaba  Microsoft        111972  1437317      22397  189185     35266
1      Baidu     Google         79370   642832      15580   69221     27414
2  Ant group     Amazon         83116   324363      15944   41639     17940
3    PingCAP       Meta        167814   289375       8155   27125     23052
4    Tencent    Alibaba         39949   111972      10162   22397     20777
5  ESPRESSIF  HashiCorp         31974   117588       4800   14012      1823
6  ByteDance    Elastic         17186   239670       4567   19782      7786
7  Fit2Cloud     VMWare         30600    93077       5624   20899     13966
8  StarRocks        IBM         38333    78530       3711   13162     12901
9     Deepin      Baidu         11741    79370        752   15580      8202

          review_comment         merged_pull              value             \
    other           self   other        self   other       self      other
0  309685          48412  456166       26732  257123  103368.49  824848.67
1  130672          35072  173238       21680   85317   71636.82  360300.45
2  120095          20815  166140       14464   89152   61897.32  284502.71
3   51183          60402   95160       18380   15418   48527.89  155230.80
4   35266           7650   48412       17725   26732   39080.82  103368.49
5   48080           2113   52684        1165   39844   20497.65  102213.21
6   50127           5388   87962        6511   44424   19028.51   98408.28
7   29490           2307   52905       12947   21788   13871.88   85970.99
8   32218          14052   36182       10921   23242   12752.25   72074.49
9   27414           2364   35072        7116   21680   12033.71   71636.82

  rankDelta       valueDelta
       self other       self     other
0       NaN   NaN   21093.11  23406.34
1       NaN   NaN   10032.08 -47388.58
2       NaN   NaN    6380.83  57536.09
3       NaN   NaN    2329.36  16537.37
4       0.0   1.0   12565.41  21093.11
5       0.0   1.0    4312.86  22616.37
6       4.0  -2.0   10627.13   6988.55
7       NaN   NaN    4898.32  11881.10
8      25.0  -1.0   10679.05  -3633.22
9      23.0   1.0    9731.92  10032.08